<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kobe Bryant Tribute</title>
</head>

<body>
    <h1>Kobe Bryant Tribute Page</h1>
    <p>Kobe Bean Bryant (August 23, 1978 – January 26, 2020) was an American professional basketball player. A shooting
        guard, he spent his entire 20-year career with the Los Angeles Lakers in the National Basketball Association
        (NBA). Regarded as one of the greatest players of all time, Bryant helped the Lakers win five NBA championships,
        and was an 18-time All-Star, a 15-time member of the All-NBA Team, a 12-time member of the All-Defensive Team,
        the 2008 NBA Most Valuable Player (MVP), and a two-time NBA Finals MVP. Bryant also led the NBA in scoring
        twice, and ranks fourth on the league's all-time regular season scoring and all-time postseason scoring lists.
    </p>
    <a href="https://en.wikipedia.org/wiki/Kobe_Bryant">Go to Kobe Bryant wiki</a>

    <h2>Basketball Legacy</h2>
    <p>Bryant was an 18-time All-Star, which ranks second behind only Kareem Abdul-Jabbar's 19. He was chosen a record
        18 straight times, each time as a starter. On four occasions (2003, 2011, 2013, 2016) he was the leading
        vote-getter. Four times Bryant was named the All-Star MVP, a record he shares with Bob Pettit. He was selected
        to the All-NBA Team on 15 occasions, tied for the most with Abdul-Jabbar and Tim Duncan, and his 11 first-team
        honors are tied for the second-most with Karl Malone. Bryant was also a 12-time All-Defensive Team selection,
        trailing only Duncan's 15, and nine times he was named to the All-Defensive First Team, tied with Jordan,
        Garnett, and Gary Payton for the most all time. He was the first guard to play 20 seasons in the NBA. He also
        won the NBA Slam Dunk Contest in 1997 and was its youngest winner. In his career, Bryant scored 40-plus points
        in 121 games, and 21 times he recorded a triple-double.
    <p>Following his death on January 26, 2020, wherein LeBron James had a message about his death to promise "to
        continue Bryant's legacy", on February 15, 2020, commissioner Adam Silver announced that the NBA All-Star Game
        MVP Award would be renamed to the NBA All-Star Game Kobe Bryant MVP Award in honor of Bryant.</p>
    <p>During the 2020 NBA Playoffs, Lakers players wore the 'Black Mamba' jerseys in honor of Bryant. Designed by
        Bryant himself, the black jersey features a snakeskin pattern with yellow accents and 16 stars representing the
        team’s 16 championships. In Game 2 win against the Denver Nuggets in the Western Conference finals, Anthony
        Davis made a buzzer-beating 3-pointer and yelled Bryant’s name, while the team was wearing the 'Black Mamba'
        jerseys.</p>
    <a href="https://en.wikipedia.org/wiki/List_of_career_achievements_by_Kobe_Bryant">Ver en Wikipedia</a>

    <h2>Personal life</h2>
    <p>Bryant was the youngest of three children. He grew up with two older sisters, Sharia and Shaya, and had a close
        relationship with them until his death. In November 1999, 21-year-old Bryant met 17-year-old Vanessa Laine while
        she was working as a background dancer on the Tha Eastsidaz music video "G'd Up". Bryant was in the building and
        working on his debut album. The two began dating and became engaged six months later in May 2000. They married
        on April 18, 2001, at St. Edward the Confessor Catholic Church in Dana Point, California. Reportedly Bryant's
        parents had problems with him marrying so young, especially to a woman who was not African-American.This
        disagreement resulted in an estrangement period of over two years. The Bryants' first daughter was born in
        January 2003. The birth resulted in a reconciliation between Bryant and his parents. Their second daughter,
        Gianna Maria-Onore (also referred to as "Gigi"), was born in May 2006. In early December 2016, Vanessa gave
        birth to their third daughter and in January 2019 the Bryants announced they were expecting a fourth daughter,
        who was born in June 2019.</p>
    <a href="https://en.wikipedia.org/wiki/Kobe_Bryant#Off_the_court">Ver en Wikipedia</a>

    <h2>Death</h2>
    <p>At 9:06 a.m. Pacific Standard Time on January 26, 2020, a Sikorsky S-76 helicopter departed from John Wayne
        Airport in Orange County, California, with nine people aboard: Bryant, his 13-year-old daughter Gianna, six
        family friends, and the pilot. The helicopter was registered to the Fillmore-based Island Express Holding Corp.,
        according to the California Secretary of State business database. The group was traveling to Camarillo Airport
        in Ventura County for a basketball game at Mamba Sports Academy in Thousand Oaks. Due to light rain and fog that
        morning, the Los Angeles Police Department helicopters and most other air traffic were grounded. The flight
        tracker showed that the helicopter circled above the L.A. Zoo due to heavy air traffic in the area. At 9:30
        a.m., the pilot contacted the Burbank Airport's control tower, notifying the tower of the situation, and was
        told he was "flying too low" to be tracked by radar. At that time, the helicopter experienced extreme fog and
        turned south towards the mountains. At 9:40 a.m., the helicopter climbed rapidly from 1,200 to 2,000 feet (370
        to 610 m), flying at 161 knots (298 km/h; 185 mph). At 9:45 a.m., the helicopter crashed into the side of a
        mountain in Calabasas, about 30 miles (48 km) northwest of downtown Los Angeles, and began burning. Bryant, his
        daughter, and the other seven occupants were killed. Initial reports indicated that the helicopter crashed in
        the hills above Calabasas in heavy fog. Witnesses reported hearing a helicopter struggling before crashing.</p>
    <a href="https://en.wikipedia.org/wiki/Kobe_Bryant#Death">Ver en Wikipedia</a>
</body>

</html>